* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
:root {
  --primary: orange;
  --secondary: gray;
  --third: skyblue;
}
nav {
  height: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
nav div {
  width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;
}
nav h1 {
  font-size: 2rem;
}
nav p {
  font-weight: bold;
  color: white;
  padding: 0.2rem 1.2rem;
  background-color: var(--primary);
  border-radius: 4px;
}
button {
  cursor: pointer;
  margin-top: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 3px 0 0 black;
  padding: 0.25rem 0.5rem;
}
button:hover {
  color: white;
  background-color: var(--primary);
}
button:active {
  box-shadow: none;
  transform: translateX(0.6px) translateY(0.6px);
}
section.inputData {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
section.inputData label {
  margin: 3px;
  font-weight: bold;
}
input[type="text"] {
  height: 2rem;
  width: 99%;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
  box-shadow: 4px 3px 0 0 black;
}
input[type="date"] {
  height: 1.5rem;
  padding: 0.3rem;
}
input[type="submit"] {
  cursor: pointer;
  margin-top: 0.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 3px 0 0 black;
  padding: 0.25rem 0.5rem;
}
input[type="submit"]:hover {
  color: white;
  background-color: var(--primary);
}
input[type="submit"]:active {
  box-shadow: none;
  transform: translateX(0.6px) translateY(0.6px);
}
section.inputNilai {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}
table {
  font-family: "Times New Roman", Times, serif;
  border: 2px solid black;
  width: 99%;
  margin: 1rem 0;
  border-collapse: collapse;
}
thead {
  background-color: orange;
  font-weight: bold;
}
td {
  border: 1px solid black;
  text-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0.15rem;
}
textarea {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 3px 0 0 black;
  resize: none;
  width: 99%;
  height: 5rem;
  padding: 0.5rem;
}
